---
import type { HTMLAttributes } from 'astro/types'
import { SiteTitle } from '../consts'
import HeaderLink from './HeaderLink.astro'
import { cn } from '@/lib/utils'

type Props = HTMLAttributes<'header'>

const { class: className, ...props } = Astro.props
---

<div class={cn('bg-base-100 flex flex-row items-center', className)} {...props}>
    <a class="btn btn-ghost text-xl" href="/">
      {SiteTitle}
    </a>
    <ul class="menu menu-horizontal px-1 gap-x-1">
      <li>
        <HeaderLink href="/">
          Blog
        </HeaderLink>
      </li>
      <li>
        <HeaderLink href="/about">
          About Me
        </HeaderLink>
      </li>
    </ul>
</div>
